@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* // <uniquifier>: Use a unique and descriptive class name */
/* // <weight>: Use a value from 100 to 700 */

.josefin-sans-<uniquifier> {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}



body {
  background-color: rgb(212, 254, 245);
  font-family: Josefin Sans;
  font-size: 70px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

h1 {
  margin: 20px;
}

button {
  border: none;
  background-color: rgb(0, 0, 0);
  font-family: Josefin Sans;
  color: white;
  margin: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 1, 0.2)); /* Shadow using filter */

}


.grid-container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  grid-gap: 2px;
}

.grid-item {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.grid-item {
  background-color: #6ccbea;
  transition: background-color 0.3s;
}

.grid-item:hover {
  background: linear-gradient(45deg, #ff6b6b, #f7e84c); /* Gradient color on hover */
}